<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Read More</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </head>
   <boby>
      <section class="availability-container section-pd" id="availability-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Availability</h1>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Immediate on the Alexa Skills directory. To set up and install this skill, search for it by name at <a href="http://echo.amazon.com" target="_blank">http://echo.amazon.com</a> (in the 'Skills' section) after signing in with an Amazon account. After clicking on the ‘Enable Skill’ button, users have to log in with their Brickset.com credentials. Users who are not registered with Brickset.com can enable the skill anonymously.</p>
                            </div>
                           
                            <div class="col-xs-12">
                                <h4>More Information</h4>
                                <p class="small-para">To know more about Extentia’s work on Alexa skills and IoT technologies, write to inquiries (at) extentia.com or call +91 20 6728 5200 (India)/+1-408-627-4094 (United States).</p>
                            </div>
                            <div class="col-xs-12">
                                <p class="small-para">About LEGO® and Brickset.com</p>
                                <p class="small-para">LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site or application.</p>
                                <p class="small-para">Brickset.com was launched in 1997 and since then has become is the premier LEGO database on the Internet. Originally set up to record the myriad of promotional sets that were appearing at that time, it has expanded over the years to become the definitive reference on LEGO sets released after 1980.</p>
                            </div>
                            <div class="col-xs-12">
                                <p class="small-para">About Extentia Information Technology</p>
                                <p class="small-para">Established in 1998, Extentia is an Indo-German global technology consulting organization with a strong focus on Technology, Consulting, and Innovation for Mobile, Cloud, and Design.</p>
                                <p class="small-para">The company’s acclaimed Design Studio is a graphics design and UI group that actively supports a multi-skilled software development team. Its usability testing and research lab provides User Centered Design services for software products and systems. Techquarium is an Extentia platform for innovation in IoT, augmented reality, wearables, AI, and neuroscience.</p>
                                <p class="small-para">Extentia has offices in India, the United States, Europe, Australia and the UK.</p>
                                <p class="small-para"><a href="http://www.extentia.com" target="_blank">www.extentia.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <img src="images/availabilityIntroImg.png" class="img-responsive">
                    </div>
                </div>
            </div>
      </section>

    
   </boby>
</html>