<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Feature</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </head>
   <boby>
     <section class="keyFeature-container section-pd" id="keyFeature-container">
          <div class="container">
               <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Key Features</h1>
                    </div>
                    <div class="col-xs-offset-1 col-xs-11">
                        <div class="row keyfeature-para">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="para-container">
                                    <h4>All Sets in Own Collection and Wish List</h4>
                                    <p>MyBrickbot powers Alexa to respond to users' queries about sets present in their own collection and wish lists. If the number of sets stored in these lists is more than 10, Alexa asks users if they want to listen to all of them, to which they can reply in a simple 'yes' or 'no'.</p>
                                </div>
                                <div class="para-container">
                                    <h4>Ask for Instruction Manuals</h4>
                                    <p>Users can use MyBrickBot to ask Alexa for instruction manuals for sets by specifying the set number. The required instruction manuals are sent to the users' email address that they provide at the time of enabling the skill and account linking.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 featureimg-container">
                                <img src="images/alexa.png" class="img-responsive keyfeature-img">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="para-container">
                                    <h4>Add Sets in Own Collection and Wish List</h4>
                                    <p>MyBrickBot allows users to add sets in their own collection, simply by asking Alexa to do so. Furthermore, it lets users add sets in their wish lists by commanding Alexa.</p>
                                </div>

                                <div class="para-container">
                                    <h4>Remove Sets from Own Collection and Wish List</h4>
                                    <p>The skill not only enables users to add sets in own collections and wish lists but also makes it possible to remove set entries from these lists via Alexa. Users can manage their own collections and wish lists without having to log into the website every time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
      </section>
      <!-- keyFeature-container end -->


      
   </boby>
</html>