<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Get the MyBrickBot skill for Alexa. Available for every LEGO® enthusiast.</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="description" content="MyBrickBot - a space where LEGO® meets Alexa on Amazon Echo. Fans can do everything from finding available sets and themes to managing their Brickset.com accounts.">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <link rel="icon" href="images/MBBicon.jpg">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
	  <script type='text/javascript' src="javascripts/captcha.js"></script>
      <script type="text/javascript" src="javascripts/jquery.validate.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
     <script type="text/javascript" src="javascripts/custom.js"></script>
     <script src="https://www.google.com/recaptcha/api.js?onload=myCallBack&render=explicit" async defer></script>
     <script>
         //For Using two Recaptha in One page.
      var recaptcha1;
      var recaptcha2;
      var myCallBack = function() {
        //Render the recaptcha1 on the element with ID "recaptcha1"
        recaptcha1 = grecaptcha.render('recaptcha1', {
          'sitekey' : '6LfyTAwUAAAAADs17Z7V5xKYDO_qHU8Gd_X3R4Id', //Replace this with your Site key
          'theme' : 'light'
        });
        
        //Render the recaptcha2 on the element with ID "recaptcha2"
        recaptcha2 = grecaptcha.render('recaptcha2', {
          'sitekey' : '6LfyTAwUAAAAADs17Z7V5xKYDO_qHU8Gd_X3R4Id', //Replace this with your Site key
          'theme' : 'dark'
        });
      };
    </script>
   </head>
   <body class="body">
        <!-- desktop view mobile -->
      <nav class="navbar-default navbar-fixed-top desktopVeiw-navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="https://mybrickbot.com/">
               <img src="images/logo.png" class="img-responsive">
               </a>
            </div>
             <ul class="nav navbar-nav navbar-collapse navbar-icon pull-right" id="navbar-collapse">
                <li class="desktopVeiw">
                    <a href="https://www.facebook.com/Extentia" class="facebookIcon" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://twitter.com/Extentia" class="twitterIcon" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://www.pinterest.com/extentia/" class="pinterestIcon" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://plus.google.com/+Extentia-IT/posts" class="google-plus" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="http://www.youtube.com/user/ExtentiaTech" class="u-tube" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://www.linkedin.com/company/extentia-information-technology" class="insta" target="_blank"></a>
                </li>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="customIcon-bar"></span>
                    </a>
                    <ul class="nav dropdown-menu custom-navbar">
                        <li><a href="#homecontainer">Home</a></li>
                        <li><a href="#featuresSection">Features</a></li>
                        <li><a href="#videoSection">Videos</a></li>
                        <li><a href="#newsSection">News</a></li>
                        <li><a href="readmore#keyFeatures-container">Key Features</a></li>
                        <li><a href="readmore#otherFeatures-container">Other Features</a></li>
                        <li><a href="readmore#otherSkills-container">Other Skills</a></li>
                        <li><a href="readmore#availability-container">Availability</a></li>
                        <li><a href="#contactSection">Contact Us</a></li>
                     </ul>
                </li>
            </ul>
       </div>
      </nav>
      <!-- desktop view mobile end-->

      <!-- mobile view navbar-->
      <nav class="navbar-default navbar-fixed-top mobileView-navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="https://mybrickbot.com/">
               <img src="images/logo.png" class="img-responsive">
               </a>
               <button type="button" data-toggle="collapse" data-target="#navbar-collapse1" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
            </div>
            <ul class="nav navbar-nav navbar-collapse collapse navbar-icon pull-right" id="navbar-collapse1">
                <li><a href="#homecontainer" class="mobileView-link">Home</a></li>
                <li><a href="#featuresSection" class="mobileView-link">Features</a></li>
                <li><a href="#videoSection" class="mobileView-link">Videos</a></li>
                <li><a href="#newsSection" class="mobileView-link">News</a></li>
                <li><a href="readmore#keyFeatures-container" class="mobileView-link">Key Features</a></li>
                <li><a href="readmore#otherFeatures-container" class="mobileView-link">Other Features</a></li>
                <li><a href="readmore#otherSkills-container" class="mobileView-link">Other Skills</a></li>
                <li><a href="readmore#availability-container" class="mobileView-link">Availability</a></li>
                <li><a href="#contactSection" class="mobileView-link">Contact Us</a></li>
                <li class="mobileVeiw-icon">
                    <a href="https://www.facebook.com/Extentia" target="_blank">
                        <div class="facebookIcon"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://twitter.com/Extentia" target="_blank">
                        <div class="twitterIcon"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://www.pinterest.com/extentia/"  target="_blank">
                        <div class="pinterestIcon"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://plus.google.com/+Extentia-IT/posts" target="_blank">
                        <div class="google-plus"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="http://www.youtube.com/user/ExtentiaTech" target="_blank">
                        <div class="u-tube"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://www.linkedin.com/company/extentia-information-technology"  target="_blank">
                        <div class="insta"></div>
                    </a>
                </li>
            </ul>
       </div>
      </nav>
     <!-- mobile view navbar end-->
       
     <section id="contact-slide">
          <div class="contact-header">
              <span class="open-arrow"></span>
          </div>
          <div class="contactSlide-form">
          <div class="success_mesg">Thank you for contacting with us. We will get back to you soon.</div>
            <div class="error_mesg" style="display:none;">Error while sendind email. Please try after sometime.</div>
              <form name="signup" id="signupform" method="post" action="/contact-mail">
                  <div class="row">
                      <div class="col-xs-12 form-group">
                          <input type="text" id="name" name="name" placeholder="Name*" class="form-control">
                      </div>
                      <div class="col-xs-12 form-group">
                          <input type="email" id="email" name="email" placeholder="Email*" class="form-control">
                      </div>
                      <div class="col-xs-12 form-group">
                            <textarea class="form-control" rows="7" id="comments" name="comments" placeholder="Message"></textarea>
                      </div>
                      <div class="col-xs-12 form-group">
                            <div id="recaptcha1" class="g-recaptcha" ></div>
                            <div id="captcha_control_error1" style="color:red;font-size:12px;display:none">Please validate the above captcha</div>
                      </div>
                        <div class="col-xs-12 text-center">
                        <div class="response_text error-msg" name="validation_errror" id="validation_errror">Please correct highlighted fields.</div>
						<div id="success-messege1">Thank you for contacting with us. We will get back to you soon.</div>
							<input type="hidden" name="form_name" value="signup" />
							<input type="submit" class="btn contactSlide-btn" value="Submit" />
                         </div>
                  </div>
				  
              </form>
          </div>
      </section>
      <!-- contact slide end -->


      <section class="introSection" id="homecontainer">
         <div class="container">
            <div class="row">
				<div class="col-md-5 col-sm-5 col-xs-12">
                  <img src="images/legowithshadow.png" class="img-responsive">
               </div>
               <div class="col-md-6 col-sm-6 col-xs-12 heading-section">
                  <h1 class="content-heading content-title">MyBrickBot for Alexa</h1>
                    <p class="sectionContent">Get captivated playing LEGO<sup>®</sup>? Do you want to be so engrossed that you forget about anything else?</p>
                    <p class="sectionContent">Well then, welcome to the world of MyBrickBot! A space where Alexa on Amazon Echo meets LEGO<sup>®</sup>. Fans can do everything from finding available sets and themes to managing their Brickset.com accounts.</p>
                    <p class="sectionContent">Love LEGO<sup>®</sup>. Play LEGO<sup>®</sup>. Here’s your one-stop shop for Alexa users!</p>
                    <div class="introSection-btn">
                        <a href="readmore" class="btn btn-readMore">Read More</a>
                        <a href="readmore#availability-container" class="btn btn-downLoad">Download Skill</a>
                    </div>
               </div>
            </div>
         </div>
      </section>
      <!-- introSection end -->

      <section class="legoStripDouble"></section>
      <!-- legoStripDouble end -->

      <section class="featureSection" id="featuresSection">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6 col-xs-12 feature-content">
                     <h1 class="content-heading content-title">FEATURES</h1>
                     <ul class="featureList">
                        <li>Read out all sets available in a user's wish list and own collection</li>
                        <li>Add and remove sets from a user’s Brickset.com account</li>
                        <li>Read out specifications about any particular set</li>
                        <li>Read out names of all the themes available on Brickset.com</li>
                        <li>Provide sub-themes for users’ existing themes</li>
                        <li>Send error messages to unregistered users</li>
                    </ul>
                    <div class="feature-btn">
                       <a href="readmore#keyFeatures-container" class="btn btn-readMore">Read More</a>
                       <a href="readmore#otherFeatures-container" class="btn btn-readMore">Other Features</a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-xs-12 feature-img">
                     <img src="images/Alexa_slide.png" class="img-responsive">
                  </div>
               </div>
            </div>
      </section>
      <!-- featureSection end -->

      <section class="videoSection" id="videoSection">
         <div class="container">
            <div class="row">
               <div class="col-md-7 col-sm-7 col-xs-12">
                    <h1 class="videos-heading content-title mobileview-Vedio"> VIDEOS</h1>
                    <div class="videoSectionImg">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                           <!-- Wrapper for slides -->
                            <div class="carousel-inner customCarousel-inner" role="listbox">
                                <div class="item active embed-responsive embed-responsive-16by9 customCarousal-item">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/OBUx331tofA?enablejsapi=1;rel=0&amp;showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
                                </div>

                                <div class="item embed-responsive embed-responsive-16by9 customCarousal-item">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BAxKfr2R5GA?enablejsapi=1;rel=0&amp;showinfo=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                              <span class="icon icon-angle-left" aria-hidden="true"></span>
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                              <span class="icon icon-angle-right" aria-hidden="true"></span>
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                  </div>
               </div>
               <div class="col-md-5 col-sm-5 col-xs-12">
                  <h1 class="videos-heading content-title"> VIDEOS</h1>
                  <p>Young or old, passionate or just plain curious – the MyBrickBot skill opens up new avenues of adventure for every LEGO<sup>®</sup> enthusiast. Need a new set? Want to know more about what you are currently making? Let Alexa be your guide as you build fantasy into reality, one brick at a time.</p>
                  <p>Watch our two young LEGO<sup>®</sup> enthusiasts discuss how MyBrickBot is useful for their needs!</p>
               </div>
            </div>
         </div>
      </section>
      <!-- videoSection end -->


      <section class="newsSection" id="newsSection">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <h1 class="news-heading content-title">NEWS</h1>
               </div>
               <div class="col-xs-12">
                    <div id="myCarousel1" class="carousel slide row" data-ride="carousel">
<!--                        carousel for News-->
                        <!-- <ol class="carousel-indicators custom-indicators">
                            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel1" data-slide-to="1"></li>
                            <li data-target="#myCarousel1" data-slide-to="2"></li>
                            <li data-target="#myCarousel1" data-slide-to="3"></li>
                        </ol> -->
                        <div class="carousel-inner newsRes-img" role="listbox">
                            <div class="content-slider item active">
                               <div class="col-md-3 col-sm-5">
                                    <img src="images/newsItem.jpg">
                                </div>
                               <div class="col-md-9 col-sm-7 news-para">
                                  <p>Keep up with everything that Alexa has been doing in the world of MyBrickBot. Read the latest news and catch all the updates here. MyBrickBot is forever constructing, so stay in touch and never miss a beat or should we say brick? </p>
                               </div>
                            </div>
                            <!--Sammple Text for carousel -->
                            <!-- <div class="content-slider item">
                               <div class="col-md-3 col-sm-5">
                                    <img src="images/newsItem.jpg">
                                </div>
                               <div class="col-md-9 col-sm-7 news-para">
                                  <h4>Lorem Ipusum has been the industry</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo ipsum ac cursus vehicula. Cras eleifend nulla turpis, a condimentum magna sollicitudin nec. Etiam convallis rhoncus risus eget porttitor. Vivamus ut massa vel diam volutpat pretium vel ac orci. Integer ornare, massa nec euismod </p>
                               </div>
                            </div>
                            <div class="content-slider item">
                               <div class="col-md-3 col-sm-5">
                                    <img src="images/newsItem.jpg">
                                </div>
                               <div class="col-md-9 col-sm-7 news-para">
                                  <h4>Lorem Ipusum has been the industry</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo ipsum ac cursus vehicula. Cras eleifend nulla turpis, a condimentum magna sollicitudin nec. Etiam convallis rhoncus risus eget porttitor. Vivamus ut massa vel diam volutpat pretium vel ac orci. Integer ornare, massa nec euismod </p>
                               </div>
                            </div>
                            <div class="content-slider item">
                               <div class="col-md-3 col-sm-5">
                                    <img src="images/newsItem.jpg">
                                </div>
                               <div class="col-md-9 col-sm-7 news-para">
                                  <h4>Lorem Ipusum has been the industry</h4>
                                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus commodo ipsum ac cursus vehicula. Cras eleifend nulla turpis, a condimentum magna sollicitudin nec. Etiam convallis rhoncus risus eget porttitor. Vivamus ut massa vel diam volutpat pretium vel ac orci. Integer ornare, massa nec euismod </p>
                               </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
         </div>
      </section>
      <!-- newsSection end -->

      <section class="contactSection" id="contactSection">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                      <h1 class="contact-heading content-title">CONTACT US</h1>
                      <p class="contact">For more information on Extentia, or if you'd like to explore a business opportunity with us – write to <a href="mailto:inquiries@extentia.com">inquiries@extentia.com</a>. <br> For work opportunity at Extentia, write to <a href="mailto:careers@extentia.com">careers@extentia.com</a>.</p>
                    </div>
                    <div class="col-xs-12 contact-form">
                        <div class="contact_success_mesg">Thank you for contacting with us. We will get back to you soon.</div>
                        <div class="contact_error_mesg" style="display:none;">Error while sendind email. Please try after sometime.</div>
                        <form name="contact-form" id="contact-form" method="post" action="contact-mail">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 form-group">
                                            <input type="text" id="name" name="name" class="form-control input-content" placeholder="Name*">
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            <input type="text" id="email" name="email" class="form-control input-content" placeholder="Email*">
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            <input type="text" id="company" name="company" class="form-control input-content" placeholder="Company*">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 form-group">
                                            <select class="form-control input-content css-select" placeholder="Country*" id="country" name="country">
                                                <option value="" selected="" style="color: rgb(65, 65, 65);">Select Country</option>
                                            </select>
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            <input type="" name="phone" class="form-control input-content" placeholder="Mobile*" id="phone">
                                        </div>
                                        <div class="col-xs-12 form-group">
                                            <input type="text" name="designation" id="designation" class="form-control input-content" placeholder="Designation">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-12 form-group textArea-content">
                                            <textarea class="form-control textArea-msg input-content" placeholder="Message" name="comments" id="comments"></textarea>
                                        </div>
                                        <div class="col-xs-12 form-group captcha_control">
                                           <div id="recaptcha2" class="g-recaptcha footer-captcha" ></div>
                                             <div id="captcha_control_error2" style="color:red;font-size:12px;display:none">Please validate the above captcha
                                             </div>
                                        </div>
                                    </div>
                                 </div>
								  <!-- submit button -->
                    <div class="col-xs-12 text-center">
                        <div class="response error-msg" name="response_errror" id="response_errror">Please correct highlighted fields.</div>
						<div id="success-messege">Thank you for contacting with us. We will get back to you soon.</div>
						<input type="hidden" name="form_name" value="contact-form" />
                        <input type="submit" id="bottom_submit" class="btn btn-submit" value="Submit" />                
                    </div>
                        </form>
                    </div>
                   
                </div>
				
            </div>
        </section>
      <!-- contactSection end -->


       <p class="totop"> 
            <a href="#top"><img src="images/arrow.png" class="img-responsive"></i></a> 
        </p>
      <section class="footer">
         <div class="container">
            <div class="row">
                  <div class="col-xs-12 text-center">
                     <p>© 2016 by <a href="http://www.extentia.com/" target="_blank">Extentia Information Technology</a>. All Rights Reserved.</p>
                  </div>
            </div>
         </div>
      </section>
      <!-- footer end -->
   </boby>
</html>