<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Other Feature</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </head>
   <boby>
      <!-- otherFeature-container end -->

            <section class="otherFeature-container section-pd" id="otherFeature-container">
          <div class="container">
              <div class="row">
                  <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="content-title">Other Features</h1>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="para-container">
                                <h4>Sets Available in a Given Year and Specifications of Any Particular Set</h4>
                                <p>Users can ask Alexa about LEGO® sets available from any given year, including the previous, current, and coming years. MyBrickBot lets Alexa to also provide details about a particular set including the set name, year of its release, as well as the number of pieces in the theme that the set is a part of.</p>
                            </div>
                            <div class="para-container">
                                <h4>Available Themes and Sets Available in Different Themes</h4>
                                <p>MyBrickBot allows Alexa to respond to users’ queries about the names of all the available themes and sets available in different themes as listed on Brickset.com.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="otherFeature-img">
                                <img src="images/alexa2.png" class="img-responsive">
                            </div>
                            <div class="para-container">
                                <h4>Sample Commands</h4>
                                <p>"Alexa, ask MyBrickBot to add set [number] to my wish list"<br />
                                "Alexa, ask MyBrickBot to remove set [number] from my own list"<br />
                                "Alexa, ask MyBrickBot to get all sets in my own list"<br />
                                "Alexa, ask MyBrickBot for the sub-themes in [theme name]"<br />
                                "Alexa, ask MyBrickBot to give me information on set [set number]"
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="para-container">
                                <h4>Sub-Themes Available for a Theme</h4>
                                <p>MyBrickBot turns Alexa into a ready source of information for regular LEGO® users who look for sub-themes for their existing themes.</p>
                            </div>
                            <div class="para-container">
                                <h4>Error Messages</h4>
                                <p>MyBrickBot informs users if the desired information is not available on Brickset.com. It also sends error messages to unregistered users if they command Alexa to provide account related information or to manage own collections and wish lists.</p>
                            </div>
                        </div>

                     
                    </div>
              </div>
          </div>
      </section>



   </boby>
</html>