<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Read More</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </head>
   <boby>
      <section class="otherSkill-container section-pd" id="otherSkill-container"> 
          <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Other Skills</h1>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <p>Extentia has effectively incorporated AVS with different gadgets and will soon finish integration with the Raspberry Pi 2. Developers at Extentia are constantly working on building more intuitive voice driven and hands-free interfaces. They have successfully integrated Alexa with Salesforce, enabling the service to respond to commands associated with the platform. <b>Randomizer</b>, the first Alexa skill built by Extentia, gets Alexa to respond to users' commands by picking up any random number, a number between two numbers, and more. <b>Funny Quoter</b>, another skill by Extentia, enables Alexa to lighten users' mood by reading out witty quotes and phrases when requested.</p>
                        <p>'We expect a positive response from LEGO@ enthusiasts across the globe, with our new skill for Amazon Alex-'MyBrickBot',' said Umeed Kothavala, CEO, Extentia. 'Building concepts using voice user and hands- free interfaces like Alexa has always been a throughly inventive experiences for us. We will continue working innovatively in this direction to make the most out of present and upmcoming technolgoes and devices.</p>  
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <img src="images/alexaSmall.png" class="img-responsive"> 
                    </div>
                </div>
          </div>
      </section>
      <!-- otherSkill-container end -->


     

     
   </boby>
</html>