<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Read More</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap-theme.css">
      <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
      <link rel="icon" href="images/MBBicon.png">
      <script type="text/javascript" src="javascripts/jquery.min.js"></script>
      <script type="text/javascript" src="javascripts/jquery.validate.js"></script>
      <script type="text/javascript" src="javascripts/bootstrap.min.js"></script>
      <script src="js/custom.js"></script>
   </head>
   <body class="body">
        <!-- desktop view mobile -->
      <nav class="navbar-default navbar-fixed-top desktopVeiw-navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="http://www.extentia.com/" target="_blank">
               <img src="images/logo.png" class="img-responsive">
               </a>
               <!-- <button type="button" data-toggle="collapse" data-target="#navbar-collapse" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button> -->
            </div>
            <ul class="nav navbar-nav navbar-collapse navbar-icon pull-right" id="navbar-collapse">
                <li class="desktopVeiw">
                    <a href="https://www.facebook.com/Extentia" class="facebookIcon" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://twitter.com/Extentia" class="twitterIcon" target="_blank"></a>
                </li>
                <li class="desktopVeiw">
                    <a href="https://www.pinterest.com/extentia/" class="pinterestIcon" target="_blank"></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="customIcon-bar"></span>
                    </a>
                    <ul class="nav dropdown-menu custom-navbar">
                        <li><a href="/">Home</a></li>
                        <li><a href="#keyFeature-container">Key Feature</a></li>
                        <li><a href="#otherFeature-container">Other Feature</a></li>
                        <li><a href="#otherSkill-container">Other Skill</a></li>
                        <li><a href="#availability-container">Availability</a></li>
                     </ul>
                </li>
            </ul>
       </div>
      </nav>
      <!-- desktop view mobile end-->

      <!-- mobile view navbar-->
      <nav class="navbar-default navbar-fixed-top mobileView-navbar">
         <div class="container-fluid">
            <div class="navbar-header">
               <a class="navbar-brand" href="/">
               <img src="images/logo.png" class="img-responsive">
               </a>
               <button type="button" data-toggle="collapse" data-target="#navbar-collapse1" class="navbar-toggle">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
            </div>
            <ul class="nav navbar-nav navbar-collapse collapse navbar-icon pull-right" id="navbar-collapse1">
                <li><a href="#homecontainer">Key Feature</a></li>
                <li><a href="#keyFeature-container">Key Feature</a></li>
                <li><a href="#otherFeature-container">Other Feature</a></li>
                <li><a href="#otherSkill-container">Other Skill</a></li>
                <li><a href="#availability-container">Availability</a></li>
                <li class="mobileVeiw-icon">
                    <a href="https://www.facebook.com/Extentia" target="_blank">
                        <div class="facebookIcon"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://twitter.com/Extentia" target="_blank">
                        <div class="twitterIcon"></div>
                    </a>
                </li>
                <li class="mobileVeiw-icon">
                    <a href="https://www.pinterest.com/extentia/"  target="_blank">
                        <div class="pinterestIcon"></div>
                    </a>
                </li>
            </ul>
       </div>
      </nav>
     <!-- mobile view navbar end-->


      <section class="readMore-banner" id="homecontainer">
          <div class="container">
                <div class="row">
                    <div class="readmore-banner">
                        <div class="col-md-6 col-sm-6 col-xs-12 readmore-bannerimg">
                            <img src="images/alexaworkers.png" class="img-responsive">
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <h1 class="content-title">MyBrickBot and LEGO<sup>&reg;</sup> go hand in hand.</h1>
                            <h4>Fact: Every person on earth owns on an average 86 LEGO<sup>&reg;</sup> bricks</h4>

                            <p>So we at Extentia decided to make the lives of these LEGO<sup>&reg;</sup> enthusiasts easier. Amazon Alexa can do the backend work of fulfilling your needs while you are yet engrossed in fitting the bricks together.</p>
                            <p>Our CEO, Umeed Kothavala is a fanatic for LEGO<sup>&reg;</sup>. He found Alexa to be the perfect platform to blend technology with a game that allows you to innovate and build.</p>
                            <p>Oh and did you know six eight-studded bricks fit together in 915,103,765 different combinations! Go and conquer your adventure with Alexa!</p>
                        </div>
                    </div>
                </div>
            </div>
      </section>
      <!-- section end -->

      <section class="keyFeature-container section-pd" id="keyFeature-container">
          <div class="container">
               <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Key Features</h1>
                    </div>
                    <div class="col-xs-offset-1 col-xs-11 keyFeature-res">
                        <div class="row keyfeature-para">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="para-container">
                                    <h4>All Sets in Own Collection and Wish List</h4>
                                    <p>MyBrickbot powers Alexa to respond to users' queries about sets present in their own collection and wish lists. If the number of sets stored in these lists is more than 10, Alexa asks users if they want to listen to all of them, to which they can reply in a simple 'yes' or 'no'.</p>
                                </div>
                                <div class="para-container">
                                    <h4>Ask for Instruction Manuals</h4>
                                    <p>Users can use MyBrickBot to ask Alexa for instruction manuals for sets by specifying the set number. The required instruction manuals are sent to the users' email address that they provide at the time of enabling the skill and account linking.</p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 featureimg-container">
                                <img src="images/alexa.png" class="img-responsive keyfeature-img">
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="para-container">
                                    <h4>Add Sets in Own Collection and Wish List</h4>
                                    <p>MyBrickBot allows users to add sets in their own collection, simply by asking Alexa to do so. Furthermore, it lets users add sets in their wish lists by commanding Alexa.</p>
                                </div>

                                <div class="para-container">
                                    <h4>Remove Sets from Own Collection and Wish List</h4>
                                    <p>The skill not only enables users to add sets in own collections and wish lists but also makes it possible to remove set entries from these lists via Alexa. Users can manage their own collections and wish lists without having to log into the website every time.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
      </section>
      <!-- keyFeature-container end -->


      <section class="otherFeature-container section-pd" id="otherFeature-container">
          <div class="container">
              <div class="row">
                  <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="content-title">Other Features</h1>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="para-container">
                                <h4>Sets Available in a Given Year and Specifications of Any Particular Set</h4>
                                <p>Users can ask Alexa about LEGO® sets available from any given year, including the previous, current, and coming years. MyBrickBot lets Alexa to also provide details about a particular set including the set name, year of its release, as well as the number of pieces in the theme that the set is a part of.</p>
                            </div>
                            <div class="para-container">
                                <h4>Available Themes and Sets Available in Different Themes</h4>
                                <p>MyBrickBot allows Alexa to respond to users’ queries about the names of all the available themes and sets available in different themes as listed on Brickset.com.</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="otherFeature-img">
                                <img src="images/alexa2.png" class="img-responsive">
                            </div>
                            <div class="para-container">
                                <h4>Sample Commands</h4>
                                <p>"Alexa, ask MyBrickBot to add set [number] to my wish list"<br />
                                "Alexa, ask MyBrickBot to remove set [number] from my own list"<br />
                                "Alexa, ask MyBrickBot to get all sets in my own list"<br />
                                "Alexa, ask MyBrickBot for the sub-themes in [theme name]"<br />
                                "Alexa, ask MyBrickBot to give me information on set [set number]"
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            <div class="para-container">
                                <h4>Sub-Themes Available for a Theme</h4>
                                <p>MyBrickBot turns Alexa into a ready source of information for regular LEGO® users who look for sub-themes for their existing themes.</p>
                            </div>
                            <div class="para-container">
                                <h4>Error Messages</h4>
                                <p>MyBrickBot informs users if the desired information is not available on Brickset.com. It also sends error messages to unregistered users if they command Alexa to provide account related information or to manage own collections and wish lists.</p>
                            </div>
                        </div>

                     
                    </div>
              </div>
          </div>
      </section>
      <!-- otherFeature-container end -->

      <section class="otherSkill-container section-pd" id="otherSkill-container"> 
          <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Other Skills</h1>
                    </div>
                    <div class="col-sm-7 col-xs-12">
                        <p>Extentia has effectively incorporated AVS with different gadgets and will soon finish integration with the Raspberry Pi 2. Developers at Extentia are constantly working on building more intuitive voice driven and hands-free interfaces. They have successfully integrated Alexa with Salesforce, enabling the service to respond to commands associated with the platform. <b>Randomizer</b>, the first Alexa skill built by Extentia, gets Alexa to respond to users' commands by picking up any random number, a number between two numbers, and more. <b>Funny Quoter</b>, another skill by Extentia, enables Alexa to lighten users' mood by reading out witty quotes and phrases when requested.</p>
                        <p>'We expect a positive response from LEGO@ enthusiasts across the globe, with our new skill for Amazon Alex-'MyBrickBot',' said Umeed Kothavala, CEO, Extentia. 'Building concepts using voice user and hands- free interfaces like Alexa has always been a throughly inventive experiences for us. We will continue working innovatively in this direction to make the most out of present and upmcoming technolgoes and devices.</p>  
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <img src="images/alexaSmall.png" class="img-responsive"> 
                    </div>
                </div>
          </div>
      </section>
      <!-- otherSkill-container end -->


      <section class="availability-container section-pd" id="availability-container">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="content-title">Availability</h1>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                <p>Immediate on the Alexa Skills directory. To set up and install this skill, search for it by name at <a href="http://echo.amazon.com" target="_blank">http://echo.amazon.com</a> (in the 'Skills' section) after signing in with an Amazon account. After clicking on the ‘Enable Skill’ button, users have to log in with their Brickset.com credentials. Users who are not registered with Brickset.com can enable the skill anonymously.</p>
                            </div>
                            
                            <div class="col-xs-12">
                                <h4>More Information</h4>
                                <p class="small-para">To know more about Extentia’s work on Alexa skills and IoT technologies, write to inquiries (at) extentia.com or call +91 20 6728 5200 (India)/+1-408-627-4094 (United States).</p>
                            </div>
                            <div class="col-xs-12">
                                <p class="small-para">About LEGO® and Brickset.com</p>
                                <p class="small-para">LEGO® is a trademark of the LEGO Group of companies which does not sponsor, authorize or endorse this site or application.</p>
                                <p class="small-para">Brickset.com was launched in 1997 and since then has become is the premier LEGO database on the Internet. Originally set up to record the myriad of promotional sets that were appearing at that time, it has expanded over the years to become the definitive reference on LEGO sets released after 1980.</p>
                            </div>
                            <div class="col-xs-12">
                                <p class="small-para">About Extentia Information Technology</p>
                                <p class="small-para">Established in 1998, Extentia is an Indo-German global technology consulting organization with a strong focus on Technology, Consulting, and Innovation for Mobile, Cloud, and Design.</p>
                                <p class="small-para">The company’s acclaimed Design Studio is a graphics design and UI group that actively supports a multi-skilled software development team. Its usability testing and research lab provides User Centered Design services for software products and systems. Techquarium is an Extentia platform for innovation in IoT, augmented reality, wearables, AI, and neuroscience.</p>
                                <p class="small-para">Extentia has offices in India, the United States, Europe, Australia and the UK.</p>
                                <p class="small-para"><a href="http://www.extentia.com" target="_blank">www.extentia.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <img src="images/availabilityIntroImg.png" class="img-responsive">
                    </div>
                </div>
            </div>
      </section>

      <section class="legoStripDouble">
      </section>
      <!-- legoStripDouble -->
       <p class="totop"> 
            <a href="#top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a> 
        </p>
      <!-- section end -->
      <section class="footer">
         <div class="container">
            <div class="row">
                  <div class="col-xs-12 text-center">
                     <p>© 2016 by Extentia Information Technology. All rights reserved.</p>
                  </div>
            </div>
         </div>
      </section>
      <!-- footer end -->
   </boby>
</html>