<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> MyBrickBot | Home Page </title>


    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="stylesheets/style-signup.css" rel="stylesheet">
    <link href="stylesheets/responsive.css" rel="stylesheet">   
    <link rel="icon" href="images/MBBicon.jpg">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-42304234-37', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="signup-body">
    <section class="signup-section">
        <div class="sign-container container">
            <div class="row">
                <div class="col-md-offset-2 col-md-3 col-sm-offset-1 col-sm-3">
                    <img src="images/legowithshadow.png" class="img-responsive leftSide-img">
                </div>
                <div class="col-md-6 signup-form text-center col-sm-7">
                    <img src="images/WebLogo_Text.png" class="img-responsive">
                    <div class="form-section">
						<form action="/api/login" class="form-login" role="form" id="new_user">
							<h4 class="signup-heading">Login to your <a href="https://mybrickbot.com/" target="_blank">Brickset.com</a> account</h4>
							<div class="form-group signup-formgroup">
								<input type="text" name="user_email" class="form-control input-content" placeholder="Email" id="user_email" required="" autofocus="">
							</div>
							<div class="form-group signup-formgroup">
								<input type="password" name="user_password" id="user_password" class="form-control input-content" placeholder="Password" required="">
							</div>
							<div class="form-group loginBtn-div">
								<button class="login-btn btn-block form-control" type="submit">Login</button>
							</div>
							<div>
								<h4 class="click-link">Not a Brickset.com user? <a href="https://mybrickbot.com/" target="_blank">Click here</a> to continue!</h4>
								<p>(Non Brickset.com members will not have access to all the 'MyBrickBot' features)</p>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
   </section>
   
   <section class="footer">
        <section class="legoStripDouble"></section>
         <div class="container">
            <div class="row">
                  <div class="col-xs-12 text-center">
                     <p>© 2016 by <a href="http://www.extentia.com/" target="_blank">Extentia Information Technology</a>. All Rights Reserved.</p>
                  </div>
            </div>
         </div>
      </section>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/client.js"></script>
	

</body>
</html>
