<html>
	<head>
		<title>Contact US</title>
	</head>
	<body> 
		<p>We have received following request:</p>
		<table border='0' cellspacing='0' cellpadding='0' width='800' align='left' >
		<!--<tr><td width='800'>-->
		<tbody>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Name:</td>
			<td width='85%' style='padding:4px;'>#name</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Email:</td>
			<td style='padding:4px;'>#email</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Phone:</td>
			<td style='padding:4px;'>#phone</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Company:</td>
			<td style='padding:4px;'>#company</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Designation:</td>
			<td style='padding:4px;'>#designation</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Country:</td>
			<td style='padding:4px;'>#country</td>
		</tr>
		<tr>
			<td width='15%' style='padding:4px; font-weight:bold; height:20px'> Comments:</td>
			<td style='padding:4px;'>#comments</td>
		</tr>
		<!--tr><td width='15%' style='padding:4px; font-weight:bold; height:20px'> Email Sent From:</td><td style='padding:4px;'>https://www.mybrickbot.com/</td></tr-->
		<!--</tbody>
		</table>
		</td>
		</tr>-->
		</tbody>
		</table>
	</body>
</html>